{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
<style>

body {
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
}

h1 {
    font-size: 34px;
}

.cover-title {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.cover-body {
    font-size: 24px;
}

</style>

<div class="cover-title">

    <h1>{{{rawTitle}}}</h1>

    <hr/>

    <div class="cover-body">
    
        {{{conceptual}}}
        
    </div>

</div>